.nameBtn {
  background-color: whitesmoke;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 1em;
  height: 40px;
  margin-top: 15px;
  line-height: 1px;
}

.savePcBtn {
  margin-top: 5px;
  margin-left: 46px;
}

.deletePcBtn {
  margin-top: 5px;
  margin-left: 46px;
}

.namebar {
  background-color: whitesmoke;
}